@mixin text-gradient($background) {
  background: $background;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.heading-1 {
  font-size: 28px;
  line-height: 34px;
  font-weight: 600;
}

.heading-2 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 600;
}

.heading-3 {
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
}

.text-16-600 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}

.text-16-500 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}

.text-16-400 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.text-15-600 {
  font-size: 15px;
  line-height: 20px;
  font-weight: 600;
}

.text-14-500 {
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
}

.text-14-400 {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}



.font-h5 {
  font-family: 'sf-pro', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 22px;
  color: var(--gf-text-09);
  //margin: 0;
}

.font-10 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
}




.font-14 {
  font-family: 'sf-pro', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
}


.font-14-white {
  @extend .font-14;
  color: #fff;
}

.font-14-gray {
  @extend .font-14;
  color: #A3ABB8;
}

.font-14-dark {
  @extend .font-14;
  color: #333333;
}

.font-15 {
  font-family: 'sf-pro', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
}

.font-15-white {
  @extend .font-15;
  color: #fff;
}

.font-15-dark {
  @extend .font-15;
  color: #090909;
}

.font-15-gray {
  @extend .font-15;
  color: #797D81;
}

.font-24 {
  font-family: 'sf-pro', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: -0.4px;
}

.font-24-white {
  @extend .font-24;
  color: #fff;
}

.font-24-dark {
  @extend .font-24;
  color: #090909;
}

.font-15-small {
  font-family: 'sf-pro', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: -0.4px;
}

.font-15-small-dark {
  @extend .font-15-small;
  color: #090909;
}

.font-16 {
  font-family: 'sf-pro', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -0.5px;
}


.font-16-white {
  @extend .font-16;
  color: #ffffff;
}


.font-16-gray {
  @extend .font-16;
  color: #797D81;
}

.font-16-disabled {
  @extend .font-16;
  color: #A3ABB8;
}


.font-16-dark {
  @extend .font-16;
  color: #333333;
}


.font-22 {
  font-family: 'sf-pro', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 127%;
  text-align: center;
}

.font-22-dark {
  @extend .font-22;
  color: #333333;
}




.heading-1 {
  font-size: 28px;
  line-height: 34px;
  font-weight: 600;
}

.heading-2 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 600;
}

.heading-3 {
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
}

.text-16-600 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}

.text-16-500 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}

.text-16-400 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.text-15-600 {
  font-size: 15px;
  line-height: 20px;
  font-weight: 600;
}

.text-14-500 {
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
}

.text-14-400 {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}

.text-12-500 {
  font-size: 12px;
  line-height: 14px;
  font-weight: 500;
}

.text-12-400 {
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
}
