.backdrop {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
  background: rgba(9, 9, 9, 0.6);
}

.popover {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 9;
  transition: .3s opacity, .3s transform;

  &-enter-from, &-leave-to {
    opacity: 0;

    .popover__window {
      transform: scale(.8);
    }
  }

  &-enter-to {
    opacity: 1;

    .popover__window {
      transform: scale(1);
    }
  }

  &-enter-active, &-leave-active {
    transition: opacity .3s ease;
  }

}

.popover {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 1rem 1rem;
  row-gap: 1.5rem;
  background: var(--gf-bg-main);
  border-radius: 1rem 1rem 0 0;

  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    img {
      width: 100px;
      height: 100px;
      object-fit: contain;
    }
  }

  &-close {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    line-height: 0;

    img {
      padding: .5rem;
      width: 12px;
      height: 12px;
    }
  }


  &-footer {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    width: 100%;

    &__button {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: .5rem;
      border-radius: 8px;
      cursor: pointer;
    }
  }
}