.levels-list {
  display: flex;
  //grid-template-columns: repeat(3, calc((100% / 3) - (1.5rem * 2)));
  column-gap: 1rem;
}

.levels-page {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.levels-button {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 12px;
  column-gap: 10px;
  background: var(--gf-yellow-gradient);
  border-radius: 8px;
  max-height: 48px;
  cursor: pointer;

  p {
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    letter-spacing: -0.4px;
    color: var(--gf-text-white-2x);
  }

  &.disabled {
    background: var(--gf-disable-btn);

    p {
      color: var(--gf-text-gray);
    }
  }
}
