.level {
  &-content {
    display: flex;
    flex-direction: column;
    row-gap: .25rem;
    text-align: center;
  }

  &-card {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
    width: 100%;
    height: 100%;
    max-height: 114px;
    border-radius: .5rem;
    padding: 16px 12px 12px;
    border: 1px solid var(--accent-gray);


    &__name {
      @extend .font-15-dark;
      color: var(--text-main);
    }

    &__percent {
      @extend .font-15-gray;
      color: var(--text-secondary);
    }

    //
    //&__n0 {
    //  background: linear-gradient(107.32deg, #4ADAFF -22.08%, #0062CA 122.03%);
    //
    //  .level-star {
    //    .progress-star__index {
    //      background: linear-gradient(107.32deg, #4ADAFF -22.08%, #0062CA 122.03%);
    //    }
    //  }
    //}
    //
    //&__n1 {
    //  background: linear-gradient(122.82deg, #F2D207 0%, #FFA329 100%);
    //
    //  .level-star {
    //    .progress-star__index {
    //      background: linear-gradient(122.82deg, #F2D207 0%, #FFA329 100%);
    //    }
    //  }
    //}
    //
    //&__n2 {
    //  background: #00CB6A;
    //
    //  .level-star {
    //    .progress-star__index {
    //      background: #00CB6A;
    //    }
    //  }
    //}


    &__active {
      .level-card__name {
        @extend .font-15-white;
      }

      .level-card__percent {
        @extend .font-15-white;
      }

      &.level-card__n0 {
        background: var(--gradient-purple);

        .progress-star__index {
          background: var(--gradient-purple) !important;
        }
      }

      &.level-card__n1 {
        background: var(--accent-yellow);

        .progress-star__index {
          background: var(--accent-yellow);
        }
      }

      &.level-card__n2 {
        background: var(--gradient-green);

        .progress-star__index {
          background: var(--gradient-green);
        }
      }
    }


  }
}

